:root {
    --primary-color: #f9ce34;
    --secondary-color: #ee2a7b;
    --tertiary-color: #6228d7;
    --black: #010101;
    --blue: #69C9D0;
    --red: #EE1D52;
    --white: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  *:focus,
  *:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
  }

  html,
  body {
    display: grid;
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    place-items: center;
    background: linear-gradient(135deg, #a0d2eb, #e5eaf5, #d0bdf4, #8458B3, #a28089);
  }

  .wrapper {
    display: inline-flex;
    list-style: none;
    
  }

  h1{
    color: #FFFFFF;
  }

  small{
    color: #FFFFFF;
  }

  a {
    text-decoration: none;
    
}

a:hover {
  color: blue; /* Change text color */
}


/* Style visited links */
a:visited {
    color: rgb(255, 255, 255); /* Change text color */
}

  .wrapper .icon {
    position: relative;
    background: #000000;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 20px;
    background: #ffffff;
    color: #000000;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }

  .wrapper .tiktok:hover,
  .wrapper .tiktok:hover .tooltip,
  .wrapper .tiktok:hover .tooltip::before {
    background: linear-gradient(to right, var(--black), var(--blue), var(--red));
    color: var(--white);
  }

  .wrapper .reddit:hover,
  .wrapper .reddit:hover .tooltip,
  .wrapper .reddit:hover .tooltip::before {
    background: #FF5700;
    color: #ffffff;
  }

  
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--tertiary-color));
    color: #ffffff;
}


  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
  }
