<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <body>

        <h1>Welcome to the homePage</h1>
        <small>Click the icons to visit the pages</small>
        <ul class="wrapper">
            <li class="icon tiktok">
                <span class="tooltip">Tiktok</span>
                <span><a href="{{ url_for('tiktok_page') }}"><i class="fab fa-tiktok" style="font-size:36px"></i></a></span>
            </li>
            <li class="icon reddit">
                <span class="tooltip">Reddit</span>
                <span><a href="{{ url_for('reddit_page') }}"><i class="fa fa-reddit" style="font-size:36px"></i></a></span>
            </li>
            <li class="icon instagram">
                <span class="tooltip">Instagram</span>
                <span><a href="{{ url_for('instagram_page') }}"><i class="fab fa-instagram" style="font-size:36px"></i></a></span>
            </li>
            <li class="icon youtube">
                <span class="tooltip">Youtube</a></span>
                <span><a href="{{ url_for('youtube_page') }}"><i class="fab fa-youtube" style="font-size:36px"></i></a></span>
            </li>
        </ul>


    </body>
</html>


